.nav{
	background-color: black;
	height:80px;
	width:100%;
	font-family:sans-serif;
	color:white;
	position:fixed;
	left:0;
}
.container{
	max-width: 1200px;
}
.NavOverlay{
	width:20%;
}
.NavPic{
	position: absolute;
	float: left;
	top: 0;
	left: 50px;
	width: 20%;
}
.NavButtonSection{
	position:relative;
	right:15px;
	top: 20px;
}
.LinkedIn {  
	background:rgba(0,0,0,.75);
    text-align:center;
    display:inline-block;
    -webkit-transition: opacity .25s ease;
    opacity: 0;
}
#LinkedIn{
	position: absolute;
	float: left;
	top: 0;
	left: 50px;
	width: 20%;
	border-radius: 100%;
}
.NavOverlay:hover .LinkedIn{
	opacity: .3;
	display: inline-block;
}
.Name {
	width: 325px;
	left: 190px;
	top:25px;
	position:absolute;
}

.NavButton{
	transform: translate(50% 50%);
	width:90%;
}
#AboutMe:hover{
	background: url(http://i350.photobucket.com/albums/q419/Caitlin_Hayles/About-Me-Hover_zpsd0zqvogn.png);
}
#Portfolio:hover{
	background: url(http://i350.photobucket.com/albums/q419/Caitlin_Hayles/Portfolio-Hover_zpsjx96icu3.png);
}
#Interests:hover{
	background:url(http://i350.photobucket.com/albums/q419/Caitlin_Hayles/Interests-Hover_zps5i87azgk.png);
}
#Travel:hover{
	background:url(http://i350.photobucket.com/albums/q419/Caitlin_Hayles/Travel-Hover_zpsrbgipmd2.png);
}

/*jumbotron*/

.jumbotron{
	background: url(https://scontent.xx.fbcdn.net/t31.0-8/10275294_3579173242705_3973212368197216930_o.jpg);
	background-size: cover;
	height: 500px;
	margin-top: 75px;
}

/* footer beings */

.footer{
	text-align: center;
	margin: -40px auto;
	height:40px;
	background-color: black;
}
