<div class="ThirtyNav">
	<img class="ThirtyLogo" src="ThirtyLogo.png"/>
	<p>30 before 30</p>
</div>

<div class="ThirtyList">
	<ol>
		<li ng-click="AfricaPost()">1. Go to Africa</li>
		<li ng-click="AsiaPost()">2. Go to South East Asia</li>
		<li ng-click="AustraliaPost()">3. Go to Australia</li>
		<li ng-click="SkyDiving()">4. Go sky diving</li>
		<li ng-click="Bungee()">5. Go bungee jumping</li>
		<li ng-click="Spice()">6. Gain a tolerance for spice</li>
		<li ng-click="NorthernLights()">7. See the Northern Lights</li>
		<li ng-click="VegasPost()">8. Go to Las Vegas while of age</li>
		<li ng-click="HabitatBuild()">9. Do a habitat build</li>
		<li ng-click="SoupKitchen()">10. Volunteer at a soup kitchen</li>
		<li ng-click="CreateBlog()">11. Create a blog</li>
		<li ng-click="PlantTree()">12. Plant a tree</li>
		<li ng-click="ElementPost()">13. Learn something totally out of my element</li>
		<li ng-click="MastersDegree()">14. Get a Master’s Degree</li>
		<li ng-click="DinnerParty()">15. Host a dinner party</li>
		<li ng-click="OrigamiPost()">16. Fold 1,000 origami cranes</li>
		<li ng-click="ClassicBook()">17. Read a classic book</li>
		<li ng-click="MentorshipPost()">18. Mentor a student as a professional</li> 
		<li ng-click="ThrowPlates()">19. Throw plates for kicks</li>
		<li ng-click="RaceCar()">20. Go race car driving</li>
		<li ng-click="GunPost()">21. Shoot a gun</li>
		<li ng-click="MountainPost()">22. Climb a mountain</li>
		<li ng-click="GrapesToWine()">23. Stomp on grapes to make wine</li>
		<li ng-click="ComicCon()">24. Attend Comic-Con in costume</li>
		<li ng-click="LanternsPost()">25. Release a floating lantern</li>
		<li ng-click="Geocache()">26. Create a geocache</li>
		<li ng-click="MeteorShower()">27. Watch a meteor shower</li>
		<li ng-click="BroadwayPost()">28. Reach 75 Broadway Shows</li>
		<li ng-click="JimmyFallon()">29. Watch Jimmy Fallon live</li>
		<li ng-click="UnplugPost()">30. Unplug for a weekend</li>
		<li><a class="toHome" href="#/">Back to Caitlin</a></li>
	</ol>	
</div>

<!-- <div ng-show="AfricaPostTab" class="BlogPost">
	<h1 class="BlogHeaders">Africa Post</h1>
	<p class="BlogText">All about Africa</p>
</div> -->


<!-- <iframe width="100%" height="800" src="https://www.facebook.com/shannon.hayles.3/videos/3581789228103/">
</iframe> -->