<div class="nav">
	<div class="container">
		<div class="row nav">
			<div class="col-md-6">
				<header>
					<div class="NavOverlay">
						<img class="NavPic" src="https://fbcdn-photos-c-a.akamaihd.net/hphotos-ak-xfp1/v/t1.0-0/q81/p206x206/12744080_3622150957121_5261445843186598108_n.jpg?oh=92f9a5cd0822de67da4dbd4e9c8f004c&oe=57FB5473&__gda__=1474896266_31c5a01c9032f883146f8daf12cb4838"/>
						<div class="LinkedIn">
							<a href="https://www.linkedin.com/in/caitlin-hayles-a75b0996">
							<img id="LinkedIn" src="https://image.freepik.com/free-icon/linkedin-logo_318-50643.png"/></a>
						</div>
					</div>
					<p><a id="Name" href="#/">Caitlin Hayles</a></p>
				</header>
			</div>
			<div class="NavButtonSection">
				<div class="col-md-6">
					<div class="col-md-3">
						<div class="NavButton"><a class="NavLink" href="#/AboutMe">About Me</a></div>
					</div>
					<div class="col-md-3">
						<div class="NavButton"><a class="NavLink" href="#/Portfolio">Portfolio</a></div>
					</div>
					<div class="col-md-3">
						<div class="NavButton"><a class="NavLink" href="#/Interests">Interests</a></div>
					</div>
					<div class="col-md-3">
						<div class="NavButton"><a class="NavLink" href="#/Travel">Travel</a></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

	<div class="container">
		<div class="bigPicTravel"></div>
		<div class="PageTitle">Travel</div>
	</div>	

		

